.env
*.bak*
*.bak.*
certs/*.key
certs/rootCA.key
certs/server.key
python-scripts/**/__pycache__/
python-scripts/**/venv/
python-scripts/**/ztaenv/
evidence/
elk/logstash/pipeline-backups/
elk/logstash/pipeline_backups/
lost+found/
*.env
*claude
*claude*
*bvk*
*bck*
.env
elk/paswd
*.bak*
*.bak.*
certs/*.key
python-scripts/**/__pycache__/
python-scripts/**/venv/
python-scripts/**/ztaenv/
evidence/
elk/logstash/pipeline-backups/
elk/logstash/pipeline_backups/
lost+found/
keycloak/create-groups.sh
keycloak/create-user.sh
