[Unit]
Description=ZTA Keycloak Warm Standby
After=postgresql.service
Requires=postgresql.service

[Service]
User=keycloak
Group=keycloak
WorkingDirectory=/opt/keycloak
Environment="JAVA_OPTS=-Xms256m -Xmx512m"
Environment="KC_DB=postgres"
Environment="KC_DB_URL=jdbc:postgresql://127.0.0.1/keycloak"
Environment="KC_DB_USERNAME=keycloakpost26"
Environment="KC_DB_PASSWORD=keycloakpost26"
Environment="KC_HTTP_ENABLED=true"
Environment="KC_HTTP_PORT=8081"
Environment="KC_HOSTNAME_STRICT=false"
Environment="KC_HOSTNAME_STRICT_HTTPS=false"
ExecStart=/opt/keycloak/bin/kc.sh start --optimized
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
